
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a logout href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: {{ profile.user._id }}<br>
                        <strong>email</strong>: {{ profile.user.local.email }}<br>
                        <strong>password</strong>: {{ profile.user.local.password }}
                    </p>

            </div>
        </div>
        
        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                    <p>
                        <strong>id</strong>: {{ profile.user.facebook.id }}<br>
                        <strong>token</strong>: {{ profile.user.facebook.token }}<br>
                        <strong>email</strong>: {{ profile.user.facebook.email }}<br>
                        <strong>name</strong>: {{ profile.user.facebook.name }}
                    </p>

            </div>
        </div>

         <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                    <p>
                        <strong>id</strong>: {{ profile.user.twitter.id }}<br>
                        <strong>token</strong>: {{ profile.user.twitter.token }}<br>
                        <strong>username</strong>: {{ profile.user.twitter.username }}<br>
                        <strong>displayName</strong>: {{ profile.user.twitter.displayName }}
                    </p>

            </div>
        </div>
        
        <!--  GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                    <p>
                        <strong>id</strong>: {{ profile.user.google.id }}<br>
                        <strong>token</strong>: {{ profile.user.google.token }}<br>
                        <strong>email</strong>: {{ profile.user.google.email }}<br>
                        <strong>name</strong>: {{ profile.user.google.name }}
                    </p>

            </div>
        </div>
        
    </div>

